{include file="common_head" /}
<div style="width:100%;height:800px;background:white;">
	<table class="table table-bordered">
  <tbody style="text-align:center;font-size:18px;letter-spacing:2px;">
    <tr>
      <td>qq</td>
      <td>1285949007</td>
      <td>1376682071</td>
    </tr>
    <tr>
      <td>微信</td>
      <td>liguizhou7</td>
	  <td></td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td>1285949007@qq.com</td>
      <td>zard1285949007@163.com</td>
    </tr>
    <tr>
      <td>电话</td>
      <td>18819258162</td>
      <td></td>
    </tr>
    <tr>
      <td>网站</td>
      <td>zard-forever.com</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

{include file="common_foot" /}   