{include file="common_head" /}
<div style="width:100%;height:800px;background:white;">
	<table class="table table-bordered">
  <tbody style="text-align:center;font-size:18px;letter-spacing:2px;">
    <tr>
      <td>wezard官方网站</td>
      <td><a href="http://wezard.net" target="_blank">http://wezard.net</a></td> 
    </tr>
    <tr>
      <td>坂井泉水网站</td>
      <td><a href="http://telanx.github.io/zard/#/" target="_blank">http://telanx.github.io/zard/#/</a></td> 
    </tr>
    <tr>
      <td>坂井泉水q群</td>
      <td>152016749</td> 
    </tr>
    <tr>
      <td>坂井泉水微信公众号</td>
      <td>WEZARDfans</td> 
    </tr>
    <tr>
      <td>zard吧</td>
      <td><a href="http://tieba.baidu.com/f?ie=utf-8&kw=zard&red_tag=d0344492446" target="_blank">http://tieba.baidu.com/f?ie=utf-8&kw=zard&red_tag=d0344492446</a></td> 
    </tr>
    <tr>
      <td>坂井泉水吧</td>
      <td><a href="http://tieba.baidu.com/f?ie=utf-8&kw=%E5%9D%82%E4%BA%95%E6%B3%89%E6%B0%B4" target="_blank">http://tieba.baidu.com/f?ie=utf-8&kw=%E5%9D%82%E4%BA%95%E6%B3%89%E6%B0%B4</a></td> 
    </tr>
  </tbody>
</table>
</div>
{include file="common_foot" /}   