
{include file="common_head" /}
    <script src="__STATIC__/index/js/index.js"></script>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        
                        <div class="item active">
                            <a href="https://www.bilibili.com/video/av2946591/?from=search&seid=7993290841158770846" target="_blank">
                                <img src="__STATIC__/image/41.jpg" height="100%" width="100%" alt="Image of first carousel">
                            </a>
                        </div>
                        
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        
                        <div class="item">
                            <a href="https://www.bilibili.com/video/av6719215/?from=search&seid=16290003573349404155" target="_blank">
                                <img src="__STATIC__/image/timg.jpg" height="100%" width="100%" alt="Image of second carousel">
                            </a>
                        </div>
                        
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <a href="http://music.163.com/#/mv?id=5347247" target="_blank">
                                <img src="__STATIC__/image/time.jpg" height="100%" width="100%" alt="Image of third carousel">
                            </a>
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <a href="http://music.163.com/#/mv?id=5327608" target="_blank">
                                <img src="__STATIC__/image/tem.jpg" height="100%" width="100%" alt="Image of third carousel">
                            </a>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mode" >
                    <a href="{:url('mv/index')}" style="text-decoration: none">
                        <div class="services-group wow animated fadeInLeft div1 " data-wow-offset="40">
                            <div class="services-header" style="margin:0px" >
                                <h2 class="services-title" style="margin:0px">mv</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/16.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">视频</h3>
                            </div>
                        </div> 
                    </a>
                </div>

        
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <a href="{:url('music/index')}" style="text-decoration: none">
                        <div class="services-group wow animated zoomIn div2" data-wow-offset="40">
                            <div class="services-header" style="margin:0px">
                                <h2 class="services-title" style="margin:0px">music</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/15.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">音乐</h3>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
                    <a href="{:url('picture/index')}" style="text-decoration: none">
                        <div class="services-group wow animated fadeInRight div3" data-wow-offset="40">
                            <div class="services-header" style="margin:0px">
                                <h2 class="services-title" style="margin:0px">picture</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/14.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">图片</h3>
                            </div>
                        </div> 
                    </a>       
                </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" onclick="not_perfect()">
                    <a href="javascript:;" style="text-decoration: none">
                        <div class="services-group wow animated fadeInLeft div4" data-wow-offset="40">
                            <div class="services-header" style="margin:0px">
                                <h2 class="services-title" style="margin:0px">ranking</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/11.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">风云榜</h3>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " id="wechat">
                    <a href="javascript:;" style="text-decoration: none">
                        <div class="services-group wow animated zoomIn div5" data-wow-offset="40">
                            <div class="services-header" style="margin:0px">
                                <h2 class="services-title" style="margin:0px">we chat</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/12.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">聊天室</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 聊天室模态框 -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">请先登录</h4>
                            </div>
                            <div class="modal-body">你需要登录才能进入聊天室！</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <a href="{:url('login/login')}"  class="btn btn-primary" >登录</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " onclick="not_perfect()">
                    <a href="javascript:;" style="text-decoration: none">
                        <div class="services-group wow animated fadeInRight div6" data-wow-offset="40">
                           <div class="services-header" style="margin:0px">
                                <h2 class="services-title" style="margin:0px">blog</h2>
                            </div>
                            <div class="services-body">
                                <img src="__STATIC__/image/13.jpg" alt="zard" title="zard">
                            </div>
                            <div class="services-foot" style="margin:0px">
                                <h3 class="services-title" style="margin:0px">博客</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->
<script>
// 未开放的功能
function not_perfect(){
    layer.alert('此功能还没开放');
}

// 聊天室功能有
    $("#wechat").click(function(){
        var judge="{:session('?openid')}";
        if(judge){
            window.open("{:url('chat/index')}");
        }else{
            $('#myModal3').modal({
                keyboard: true
            });
        }
        
    });
    
</script>

    <!-- Footer -->
{include file="common_foot" /}    
